@font-face {
    font-family: 'roboto';
    src: url('Roboto-VariableFont_wdth,wght.ttf') format('truetype');

}

@font-face {
    font-family: 'lexend';
    src: url('Lexend-VariableFont_wght.ttf') format('truetype');

}

@font-face {
    font-family: 'comfortaa';
    src: url('Comfortaa-VariableFont_wght.ttf') format('truetype');

}

@font-face {
    font-family: 'wide';
    src: url('Audiowide-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');

}

body {
    background-color: rgb(255, 255, 255);
    scrollbar-width: none;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    transition-duration: 0.7s;
    cursor: none;

}

.container {
    height: 100vh;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-width: none;
    color: whitesmoke;
    overflow: hidden;
    transition-duration: 0.5s;

}

.bottomdiv {
    width: 90%;
    margin-left: 3%;
    height: 200px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    bottom: 50px;
    left:0;
    color:rgb(250, 245, 245);

   

}

.bottomdiv h2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: montserrat;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 20px;

}

#d1 {

    text-align: start;
    font-family: montserrat;
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:20px;
    align-self: center;
    color:rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 30px;
    display: none;
    max-width: 80%;
    margin-right: 20px;
}

.d2 h1 {
    font-size: 10vw;
    font-family: wide;
    font-weight: 200;
    margin: 0
}

.ampm {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    border-radius: 100px;

    padding: 5px;
    background-color: rgba(0, 0, 0, 0.188);
    backdrop-filter: blur(30px);

}

.ampm h2 {
    padding: 20px;
    font-family: montserrat;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin: 5px;
    font-size: 20px;
    border-radius: 100px;

}

.d3 {
    height: 86vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.city {

    height: 10%;
    font-family: lexend;
    font-size: 50px;
    font-weight: 300;
    margin: 0px;
    padding: 0;

}

.weathericon,
.card1 {
    height: 50%;
    width: 48%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    overflow: hidden;
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}.weathericon{
    z-index: 20;
    box-shadow: 0px 0px 10px 0px lightgrey;
    background-color: black;
   
}.card1{
    
margin-right: 2%;}
.incard1{
    width:100%;
    height:100%;
    backdrop-filter: blur(20px);
    background-color: #0000001c;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.d3 div h1 {
    font-size: 20px;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    font-family: comfortaa;
    width: fit-content;
    border-radius: 20px;
    margin: 10px;
}

.card1 p {
    font-family: montserrat;
    align-self: center;
    font-size: 25px;
    margin: 0;


}

.card1 {
    justify-content: space-evenly;
}

.card1 h2 {
    font-family: montserrat;
    align-self: center;
    font-size: 100px;
    margin: 0;
    display: flex;
    font-weight: 300;

}

.weathericon p {
    font-family:roboto;
    align-self: center;
    font-size: 20px;
    text-align: left;
    width: 85%;
    border-radius: 10px;
    margin-inline: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.weathericon {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: dodgerblue;
    color:rgb(255, 255, 255);
    

}

#ic {
    font-size: 40px;
    margin-left: 30px;
    align-self: flex-start;
    margin-top: 10px;
    margin-bottom: 0px;
}

.entertainment {
    height: 95%;
    max-width: 48%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-left: 20px;
    background-image: url("http://127.0.0.1:8000/images/marc-julien-Nq1W3c8add4-unsplash.jpg");

}
.card12 {
width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 0, 0.37);



}
.card12 p{
    font-size: 30px;
    color:rgb(255, 255, 255);
    font-family:lexend;
    align-self: flex-start;
    margin-left: 30px;
    border-radius: 100px;
    display:flex;
    align-items: center;
    margin-bottom: 0px;
}.card12 p i{
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 7px;
    padding:15px;
    background-color: rgb(0, 0, 0);
    color:white;
    border-radius: 100px;
    text-align: center;
    width:40px;
}
.card12 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}

.card12 div button {
    background-color: transparent;
    font-size: 70px;
    margin-inline: 30px;
    border: 0px;
    color: white;
}

.card12 div h5 {
    font-family: lexend;
    font-weight: 800;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    margin-inline: 20px;
    align-self: center;
    text-align: center;
    width: 90%;
}
.card12 h6{
    margin:0px;
    padding:15px;
    background-color: rgb(31, 31, 31);
    color:white;
    font-family: lexend;
    font-size: 17px;
    font-weight: 400;
    border-radius: 100px;
    display:flex;
    align-items: center;

}.card12 h6 i{
    margin-right: 20px;

}
.card12 div:nth-child(2) {
    border-radius: 20px;
}

#prompt {
    width: 95%;
    height: 13vh;
    display: flex;
    align-items: center;
    padding-inline: 2.5%;
    font-family:montserrat;
    font-size: 25px;
    font-weight: 500;
    transition-duration: 0.3s;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top:-100%;
    left: 0;
    z-index: 100;
    margin-top: 0px;
    color: rgb(0, 0, 0);
    transition-duration: 0.3s;
}
#prompt::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 5px;

  border-radius: 20px;

  background: linear-gradient(
    90deg,
    transparent,
    rgb(255, 255, 255),
    rgb(0, 0, 0),
    rgb(255, 255, 255),
    rgb(0, 0, 0),
    rgb(255, 255, 255),

    transparent
  );

  background-size: 200% 100%;

  animation: aiBorder 2s linear infinite;
}

@keyframes aiBorder {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.active {
    animation-name: animation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#container2{
    transition-duration: 0.7s;
    justify-content: center;


  
}
.active2 {
    animation-name: animation2;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.videoplayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
   

}

.videodiv {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 41;

}

.weatherapp {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    display:none;
    align-items: center;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  background-color: white;
    font-family: lexend;

}.div1{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:48%;
    height:95vh;
    border-radius: 30px;
    margin-inline: 1%;
    color:rgb(255, 255, 255);

  
}.div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    height:100vh;
    justify-content: space-evenly;


}
.topbar1{
    width:100%;
    height:10%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}.topbar1 h2{
    font-weight: 300;
    padding:10px;
    font-size: 20px;
}#hilo{
    font-weight: 300;
    font-size: 30px;
}
.fullscreentext {
    font-size: 70vh;
}.topbar2{
    width:90%;
    height:30%;
    background-color: whitesmoke;
    border-radius: 30px;
    
}.cont{
margin-left: 30px;
}.cont h3{
    font-weight:300;
    font-size: 25px;
}.greetings{
   
}
.forecast{
     width:90%;
    height:30%;
 
    border-radius: 30px;
    display:flex;
    align-items: center;
    color:rgb(255, 255, 255);
    justify-content: space-evenly;
}.forecast div i{
    color:white
}
.forecast div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height:100%
}
.forecast div h5{
    padding:10px;
    background-color: white;
    border:2px solid white;
    color:rgb(0, 0, 0);
    border-radius: 100px;


}.forecast h2{
    font-weight: 300;
    font-size: 25px;
    margin:0;
    font-family: lexend;

}
.hourly{
    display: flex;
    align-items: center;
 width:90%;
    height:30%;
    
    border-radius: 30px;
    justify-content: space-evenly;
  

}.hourly div{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
height:100%;
color:white

}.hourly div h3:nth-child(1){
    font-size: 13px;
    padding:10px;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border-radius: 100px;


}.hourly h2{
    font-size: 25px;
    margin:0;
    font-weight: 300;
    font-family: lexend;

}
.simpletext {
    font-size: 30vh;
}

.temp {
    font-family: montserrat;
}


.gy {
    align-self: flex-start;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-family: montserrat;
    font-weight: 500;
    border-radius: 200px;
    font-size: 18px;
    padding:15px;
    background-color: white;
    border-radius: 100px;

}

.daynight {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    font-weight: 800;
    font-family: lexend;
}

.daynight div {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 2px solid white;
    border-radius: 100px;
    max-height: 30px;
    justify-content: space-evenly;
    font-size: 16px;

}

.calendardiv {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.calendar {
    width: 100%;
    height: 100vh;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 20px;

}

.cont1{
    height:10vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: lexend;
    
}.cont1 h1{
    font-size: 40px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-weight: 300;
}
.cont2{
    height:90vh;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: lexend;

}.cont2 h3{
font-weight: 400;
align-self: flex-start;



}.events{
width:100%;
min-height: 90vh;
height:fit-content;
overflow-y: auto;
display:flex;
flex-direction: column;
align-items: center;
}
.event{
    width:97%;
    height:250px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgb(231, 231, 231);
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(234, 245, 255);
}.evinfo{
    width:60%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.evimg{
    width:25%;
    margin-inline: 2.5%;
    height:80%;
    background-image: url("images\ \(2\).jpg");
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    


}.evinfo h3{
    font-size: 25px;
    margin-inline: 2%;
    font-weight: 200;
    margin-bottom: 0px;
}.evinfo h4{
    font-size: 30px;
    font-family: lexend;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
    margin-inline: 2%;

}.evinfo h5{
    font-size: 25px;
    margin-inline: 2%;
    font-weight: 200;
    margin-bottom: 0px;
    margin-top:0px;
}#logo{
    background-image: url("http://127.0.0.1:8000/thumbnails/ChatGPT Image May 31, 2026, 10_38_13 AM.png");
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    margin-left: 20px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px 0px white;
}
.moviebox {
    width: 100%;
    height: 100vh;
   position: fixed;
   top:0;
   left:0;
   z-index: 40;
   background-color: white;
   display:none;
   align-items: center;
   justify-content: space-evenly;
   transition-duration: 0.4s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKHAntDmPEQXrgDAXPfOTQkJPCxpUXfEn4Jg&s")

}.topbarmov{
    position:fixed;
    top:10px;
    left:0;
    width:100%;
    height:10vh;
    display:flex;
    align-items: center;
    font-family: lexend;
 
}#movieintbar{
display:flex;
flex-direction: column;
width:100%;
min-height:100vh;
backdrop-filter: blur(20px);
justify-content: flex-start;
background-color: rgba(0, 0, 0, 0.233);

}
.topbarmov p{
    padding:19px;
    background-color: transparent;
    font-size: 25px;
    color:rgb(255, 255, 255);
    margin-left: 40px;
    border-radius: 100px;
    min-width: 25px;
    font-weight: 500;
    text-align: center;
    transition-duration:0.4s;
    user-select: none;
    font-weight: 300;
    width:130px;
}.tvdiv{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:85vh;
}.moviecard{
    width:40%;
    height:400px;
    background-color: white;
    display: flex;
    flex-direction: column;

}.buttonsplay button{
    padding:20px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.427);
    color:white;
    font-family: lexend;
    width:200px;
    font-weight: 400;
    border-radius: 100px;
    border:0px;
    transition-duration: 0.5s;
    user-select: none;
}.movinfo{
    display:flex;
    flex-direction: column;
    font-family:lexend;
    color:white;
}.movinfo h2{
    margin-left: 10%;
    font-size: 30px;
    user-select: none;
}.movinfo h1{
    font-size: 60px;
    margin-left: 10%;
    font-weight: 300;
    user-select: none;
   
}.movinfo p{
    margin-left: 10%;
    font-size: 30px;
    font-weight: 300;
margin-right: 5%;
user-select: none;
}.movinfo h5{
    font-size: 25px;
    padding:20px;
    background-color: white;
    margin-left:10%;
    max-width: fit-content;
    color:black;
    border-radius: 100px;
    font-weight: 500;
    user-select: none;
}
#movimg{
    transition-duration: 0.5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}#moviethumbnail{
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKHAntDmPEQXrgDAXPfOTQkJPCxpUXfEn4Jg&s")

}
.tvdiv div{
    width:45%;
    height:70%;
    background-color: rgba(0, 0, 0, 0);
    margin-top:15vh;
    margin-inline: 4%;
    border-radius: 40px;
   
}
.buttonsplay{
    width:90%;
    height:70px;
    display:flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;

}
.br {
    padding: 15px;
    font-size: 18px;
    align-self: flex-start;
    margin-left: 5%;
    background-color: white;
    border-radius: 100px;
    margin-left: 20px;
    max-height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;

}


#container3 {
    background-image: url("https://i.pinimg.com/736x/2e/53/1d/2e531d6c61ab73c385e502876425c497.jpg");

}

#pla {
    width: 90%;
    height: 100%;

}.reminderbox{
    width:100%;
    height:98vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 22;
    display: none;
    flex-direction: column;
    align-items:center;
    background-color: white;


}.reminderbox p{
    display: flex;
    align-items: center;
    margin:20px;
    align-self: flex-start;
    font-size: 40px;
    font-family: montserrat;
    font-weight: 400;
    justify-content: space-around;
    width:300px
}.reminderbox h3{
    font-size: 40px;
    font-family:montserrat;
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 600;
    color:rgb(0, 0, 0);
}.reminderbox button{
    padding:20px;
    font-size: 19px;
    border-radius: 100px;
    background-color: rgb(0, 0, 0);
    margin:30px;
    color:rgb(255, 255, 255);
    border: 0px;
    font-family: lexend;
    width:200px;

}.commandpanel{
    width:100%;
    height:90vh;
    position: fixed;
    top:10vh;
    left:0;
    display:none;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    z-index: 50;

     
}
.commandpanel p{
    font-family: montserrat;
    font-weight: 500;
    font-size: 30px;
    width:14.5%;
    max-height: 250px;
    min-height: 250px;
    padding:2%;
    border-radius: 30px;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 100px 10px rgb(218, 227, 235);
    margin-bottom: 0px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.commandpanel i{
    padding:15px;
    margin-bottom: 30px;
   color:rgb(0, 0, 0);
    border-radius: 100px;
    padding:15px;
    background-color: black;
    color:white;
    border-radius: 100px;
    width:fit-content;
    width:40px;
    text-align: center;

}#time{
    font-size: 25px;
    font-family: montserrat;
    font-weight: 500;
    margin-right: 30px;
    color:rgb(0, 0, 0)

}
.timer{
    width:100%;
    height:100vh;
    background-color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    font-family: montserrat;
    align-items: center;
}.circlediv{
    width:500px;
    height:500px;
    border-radius: 500px;
    box-shadow: 100px 100px 500px 20px rgb(205, 215, 225);
    margin-top: 50px;
    background-color: white;
    border-inline-end-width: 20%;
    display:flex;
    align-items: center;
    justify-content: center;
}.timer h2{
    font-size: 25px;
    font-weight: 500;
}.timer h3{
    font-weight: 300;
}.timer h1{
    font-size: 70px;
    font-weight: 500;
}.toppanel{
    width:100%;
    height:12vh;
    background-color: white;
    display: flex;
    align-items: center;
   justify-content: space-between;


}.calinfo{
    width:100%;
    border-radius: 50px;
    background-color: whitesmoke;
    height:46%;
    margin:0px;
    background-image: url("http://127.0.0.1:8000/thumbnails/kung-fu-panda-po-jungle-staff-desktop-wallpaper-cover.jpg");
    padding:0px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition-duration: 0.4s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
      


}.seccaldiv{
    width:100%;
    height:100%;
    backdrop-filter: blur(30px);
    font-family: montserrat;
    display: flex;
    align-items: center;
  
    background-color: rgba(0, 0, 0, 0.301);

}.seccaldiv div{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}.seccaldiv h3{
    font-weight: 400;
    margin-left: 20px;
    font-size: 20px;
    transition-duration: 0.4s;
    padding:18px;
    background-color: white;
    width:fit-content;
    color:black;
    border-radius: 100px;

}.seccaldiv p{
    font-size:30px;
    color:rgb(234, 234, 234);
    border-radius: 100px;
    width:fit-content;
    margin-left: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
    transition-duration: 0.4s;
    font-weight: 400;

}.seccaldiv h2{
    font-size: 40px;
    font-weight: 700;
    margin-left: 40px;
    transition-duration: 0.4s;
    font-family: montserrat;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;

}.renderdiv{
    justify-content: center;

}#progress{
    
    height:10px;
    background-color: rgb(57, 46, 46);
    margin-bottom:30px;
    border-radius: 30px;
}.evcal2{
    display:none;
    justify-content: flex-start;
}.evcal2 p{
    width:70%;
      background-color: rgba(255, 255, 255, 0.862);height:50px;border-radius: 20px;
      margin-top: 20px;display:flex;align-items: center;
      color:black;font-weight: 400;padding-inline: 3%;align-self: flex-start;
}#qrcode{
    align-self: center;
    margin-top: 20px;
    padding:10px;
    background-color: rgba(0, 0, 0, 0);
    height:fit-content;
    border-radius: 20px;
}#topbal{
background-image: url('http://127.0.0.1:8000/thumbnails/hot-air-balloon.png');
width:70px;height:70px;
background-position: center;
background-size: 50px;
background-repeat: no-repeat;
margin-right: 30px;
background-color:rgb(255, 255, 255);

border-radius: 100px;

}#songimg{
    width:340px;
    height:300px;
background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
    background-image: url("http://127.0.0.1:8000/images/marc-julien-Nq1W3c8add4-unsplash.jpg");

background-position: center;
background-size: cover;
background-repeat: no-repeat;
}.gu{
    display: flex;
    height:100%;
    width:59%;
    align-items: flex-end;
}
.rnimg{
    min-width:320px;
    margin-left: 20px;
    max-height:250px;
    background-color: white;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    

}.player{
    width:100%;
    height:100vh;
    background-color: black;
    position: fixed;
    top:0;
    left:0;
    z-index: 25;
    display:none;
}#overlay{
    position: fixed;
    z-index: 20;
    background-color:transparent;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}
