@font-face {
    font-family: 'roboto';
    src: url('Roboto-VariableFont_wdth,wght.ttf') format('truetype');

}

@font-face {
    font-family: 'lexend';
    src: url('Lexend-VariableFont_wght.ttf') format('truetype');

}

@font-face {
    font-family: 'comfortaa';
    src: url('Comfortaa-VariableFont_wght.ttf') format('truetype');

}

@font-face {
    font-family: 'wide';
    src: url('Audiowide-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'montserrat';
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');

}

body {
    background-color: rgb(255, 255, 255);
    scrollbar-width: none;
    height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-width: none;
    color: white;
    overflow: hidden;
}

.bottomdiv {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left:0;
    font-family: lexend;
    color:black;

}

.bottomdiv h2 {
    font-size: 30px;
    margin-left: 30px;
    margin-top: 50px;
    color: rgb(0, 0, 0);
    font-family: comfortaa;
    margin-right: 30px;

    padding:15px;
    background-color: white;
    border-radius: 100px;

}


#d1 {

    text-align: start;
    font-family: montserrat;
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
    align-self: flex-end;
    margin-bottom: 20px;
    padding:20px;
    align-self: center;
    background-color: white;
    color:black;
    border-radius: 20px;
    margin-left: 30px;
    display: none;
    max-width: 80%;
    margin-right: 20px;
}

.d2 h1 {
    font-size: 10vw;
    font-family: wide;
    font-weight: 200;
    margin: 0
}

.ampm {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    border-radius: 100px;

    padding: 5px;
    background-color: rgba(0, 0, 0, 0.188);
    backdrop-filter: blur(30px);

}

.ampm h2 {
    padding: 20px;
    font-family: montserrat;
    font-weight: 400;
    color: rgb(255, 255, 255);
    margin: 5px;
    font-size: 20px;
    border-radius: 100px;

}

.d3 {
    height: 86vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.city {

    height: 10%;
    font-family: lexend;
    font-size: 50px;
    font-weight: 300;
    margin: 0px;
    padding: 0;

}

.weathericon,
.card1 {
    height: 50%;
    width: 46%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}.weathericon{
    z-index: 20;
}
.incard1{
    width:100%;
    height:100%;
    backdrop-filter: blur(20px);
    background-color: #0000001c;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.d3 div h1 {
    font-size: 20px;
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    font-family: comfortaa;
    width: fit-content;
    border-radius: 20px;
    margin: 10px;
}

.card1 p {
    font-family: montserrat;
    align-self: center;
    font-size: 25px;
    margin: 0;


}

.card1 {
    justify-content: space-evenly;
}

.card1 h2 {
    font-family: montserrat;
    align-self: center;
    font-size: 100px;
    margin: 0;
    display: flex;
    font-weight: 300;

}

.weathericon p {
    font-family: montserrat;
    align-self: center;
    font-size: 20px;
    text-align: left;
    width: 85%;
    border-radius: 10px;
    margin-inline: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.weathericon {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;

}

#ic {
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.entertainment {
    height: 95%;
    max-width: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(0, 0, 0, 0.163);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin-left: 20px;
    background-image:url("../thumbnails/img2.webp");
}

.card12 {
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);



}

.card12 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card12 div button {
    background-color: transparent;
    font-size: 35px;
    margin-inline: 20px;
    border: 0px;
    color: white;
}

.card12 div h5 {
    font-family: montserrat;
    font-weight: 400;
    font-size: 40px;
    font-weight: 300;
    margin: 0px;
    align-self: center;
    width: 90%;
}

.card12 div:nth-child(2) {
    border-radius: 20px;
}

#prompt {
    width: 95%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-inline: 2.5%;
    font-family: comfortaa;
    transition-duration: 0.3s;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 50;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
}
#prompt::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0;

  width: 100%;
  height: 5px;

  border-radius: 20px;

  background: linear-gradient(
    90deg,
    transparent,
    rgb(0, 0, 0),
    mediumspringgreen,
    rgb(0, 0, 0),
    transparent
  );

  background-size: 200% 100%;

  animation: aiBorder 2s linear infinite;
}

@keyframes aiBorder {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.active {
    animation-name: animation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#container2{
    transition-duration: 0.6s;
    backdrop-filter: blur(30px);
    justify-content: center;
}
.active2 {
    animation-name: animation2;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.videoplayer {
    width: 100%;
    height: 100%;
    object-fit: cover;
   

}

.videodiv {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 24;

}

.weatherapp {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    display: none;
    align-items: center;

}

.div1 {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.topbar1 {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.div2 {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(229, 234, 240);
    overflow: hidden;

}

.hihi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}

.hihi h2 {
    margin-inline: 20px;
    font-size: 30px;
    font-family: comfortaa;
    color: grey
}

.forecast {
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forecast div {
    width: 13%;
    height: 70%;
    border-radius: 25px;
    margin-inline: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: lexend;
    background-color: white;
}

.forecast h2 {
    font-size: 30px;
    margin: 0px
}

.forecast p {
    font-size: 20px;
    margin: 0px;
    color: grey;
    text-align: center;
}

.topbar2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 45%;

}

.topbar2 p {
    width: 100%;

    font-size: 30px;
    font-family: lexend;
    margin: 0px;
    padding: 10px;
    text-align: center;
    color: white;
    background-position: center;
    background-size: contain;
    height: 6vh;

}

.cont h3 {
    padding: 15px;
    width: 70%;
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 100px;
    font-family: comfortaa;
    text-align: center;
    margin-top: 0px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.cont {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hourly {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hourly div {
    width: 20%;
    height: 160px;
    background-color: white;
    margin: 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}

.hourly div h3 {
    font-family: lexend;
    margin: 0px;
    font-weight: 400;
    font-size: 15px;
    margin: 10px;
    text-align: center;
}

.hourly div h2 {
    font-family: lexend;
    margin: 0px;
    color: grey
}
.fullscreentext {
    font-size: 70vh;
}

.simpletext {
    font-size: 25vh;
}

.temp {
    font-family: montserrat;
}


.gy {
    padding: 10px;
    align-self: flex-start;
    margin-left: 20px;
    background-color: black;
    color: white;
    font-family: comfortaa;
    border-radius: 200px;
    font-size: 20px;

}

.daynight {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.daynight div {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 2px solid white;
    border-radius: 100px;
    max-height: 30px;
    justify-content: space-evenly;
    font-size: 16px;

}

.calendardiv {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: flex-start;
}

.calendar {
    width: 100%;
    height: 100vh;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 20px;

}

.cont1 {
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    border-right: 2px solid lightgrey;
    align-items: center;

}

.cont1 h2 {
    font-size: 25px;

    font-family: comfortaa;

}

.cont1 p {
    font-size: 25px;
    padding: 10px;
    margin: 20px;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 20px;

}

.cont2 {
    width: 80%;
    height: 100vh;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-family: lexend;

    height: 12%
}

.header h2 {
    font-size: 50px;
    color: rgb(36, 55, 110);
}

.header button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;
    cursor: pointer;
    font-family: lexend;
    border-radius: 100px;
    font-size: 18px;
    width: 150px;
    text-align: center;
}

.days,
.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
    font-size: 30px;
}

.days div {
    font-size: 25px;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-family: montserrat;
    border-radius: 100px;
    font-weight: 400;
    border: 2px solid lightgrey;

}

.dates div {
    padding: 12px 0;
    border-radius: 100px;
    font-family: montserrat;
    margin-top: 20px;
    font-size: 25px;

    background-color: whitesmoke;
}

.today {
    background: rgb(0, 92, 255) !important;
    color: white;
}

.cont1 h3 {
    font-size: 20px;
    align-self: flex-start;
    margin-left: 20px;
    font-family: lexend;
    font-weight: 400;
    padding: 15px;
    border: 2px solid rgb(0, 92, 255);

    color: rgb(0, 0, 0);
    border-radius: 100px;
}

.events {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.events div {
    width: 85%;
    margin: 10px;
    background-color: rgb(30, 92, 255);
    color: white;
    border-radius: 15px;
    font-family: montserrat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}

.events div h4 {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}

.events div h5 {
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 2px solid white;
    width: fit-content;
    border-radius: 100px;
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 0px;
}

.moviebox {
    width: 100%;
    height: 100vh;
   
   

   position: fixed;
   top:0;
   left:0;
   z-index: 25;
   background-color: white;
   display:flex;
   align-items: center;
   justify-content: space-evenly;
   transition-duration: 0.4s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgehuUOLaeGapDnu8baVHcJ-blUonJ77pWGg&s");

}.topbarmov{
    position:fixed;
    top:10px;
    left:0;
    width:100%;
    height:10vh;
    display:flex;
    align-items: center;
    font-family: montserrat;
 
}#movieintbar{
display:flex;
flex-direction: column;
width:100%;
min-height:100vh;
background-color: rgba(0, 0, 0, 0.271);
backdrop-filter: blur(30px);
justify-content: flex-start;


}
.topbarmov p{
    padding:15px;
    background-color: transparent;
    font-size: 18px;
    color:rgb(255, 255, 255);
    margin-left: 30px;
    border-radius: 100px;
    min-width: 25px;
    font-weight: 500;
    text-align: center;
    transition-duration:0.4s;
}.tvdiv{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:85vh;
}.tvdiv div{
    width:40%;
    height:70%;
    background-color: rgba(0, 0, 0, 0);
    margin-top:10vh;
    margin-inline: 4%;
    border-radius: 40px;
}
.buttonsplay{
    width:90%;
    height:70px;
    display:flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;

}.buttonsplay button{
    padding:15px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.427);
    color:white;
    font-family: lexend;
    width:200px;
    border-radius: 100px;
    border:0px;
    transition-duration: 0.5s;
}.movinfo{
    display:flex;
    flex-direction: column;
    font-family:montserrat;
    color:white;
}.movinfo h2{
    margin-left: 10%;
    font-size: 30px;
}.movinfo h1{
    font-size: 50px;
    margin-left: 10%;
    font-weight: 300;
}.movinfo h3{
    margin-left: 10%;
    font-size: 25px;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.271);
    border-radius: 100px;
    width:fit-content;
    padding:10px;
    font-weight: 400;
}.movinfo p{
    margin-left: 10%;
    font-size: 25px;

}#movimg{
    transition-duration: 0.5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.br {
    padding: 15px;
    font-size: 18px;
    align-self: flex-start;
    margin-left: 5%;
    background-color: white;
    border-radius: 100px;
    margin-left: 20px;
    max-height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-top: 0px;

}


#container3 {
    background-image: url("https://i.pinimg.com/736x/2e/53/1d/2e531d6c61ab73c385e502876425c497.jpg");

}

#pla {
    width: 90%;
    height: 100%;

}.reminderbox{
    width:100%;
    height:98vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 22;
    display: none;
    flex-direction: column;
    align-items:center;
    background-color: white;


}.reminderbox p{
    display: flex;
    align-items: center;
    margin:20px;
    align-self: flex-start;
    font-size: 40px;
    font-family: montserrat;
    font-weight: 400;
    justify-content: space-around;
    width:300px
}.reminderbox h3{
    font-size: 40px;
    font-family:montserrat;
    margin-top: 0;
    margin-bottom: 0px;
    font-weight: 600;
    color:rgb(0, 0, 0);
}.reminderbox button{
    padding:20px;
    font-size: 19px;
    border-radius: 100px;
    background-color: rgb(0, 0, 0);
    margin:30px;
    color:rgb(255, 255, 255);
    border: 0px;
    font-family: lexend;
    width:200px;

}.commandpanel{
    width:100%;
    height:90vh;
    position: fixed;
    top:10vh;
    left:0;
    display: none;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    z-index: 50;

     
}
.commandpanel p{
    margin-left: 30px;
    font-family: montserrat;
    font-weight: 500;
    font-size: 20px;

    color:rgb(255, 255, 255);
}.commandpanel p:nth-child(1){
    margin-top: 40px;
}
.commandpanel i{
    padding:15px;
    background-color: mediumspringgreen;
   color:black;
    border-radius: 100px;

}#time{
    font-size: 25px;
    font-family: montserrat;
    font-weight: 500;
    margin-right: 30px;
    color:rgb(0, 0, 0)

}
.timer{
    width:100%;
    height:100vh;
    background-color: rgb(255, 255, 255);
    display: none;
    flex-direction: column;
    font-family: montserrat;
    align-items: center;
}.circlediv{
    width:500px;
    height:500px;
    border-radius: 500px;
    box-shadow: 100px 100px 500px 20px rgb(205, 215, 225);
    margin-top: 50px;
    background-color: white;
    border-inline-end-width: 20%;
    display:flex;
    align-items: center;
    justify-content: center;
}.timer h2{
    font-size: 25px;
    font-weight: 500;
}.timer h3{
    font-weight: 300;
}.timer h1{
    font-size: 70px;
    font-weight: 500;
}.toppanel{
    width:100%;
    height:12vh;
    background-color: white;
    display: flex;
    align-items: center;
   justify-content: space-between;


}.calinfo{
    width:95%;
    border-radius: 20px;
    background-color: whitesmoke;
    height:46%;
    margin:0px;
    background-image: url("../thumbnails/kung-fu-panda-po-jungle-staff-desktop-wallpaper-cover.jpg");
    padding:0px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition-duration: 0.4s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}.seccaldiv{
    width:100%;
    height:100%;
    backdrop-filter: blur(10px);
    font-family: montserrat;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.205);

}.seccaldiv div{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;

}.seccaldiv h3{
    font-weight: 500;
    margin-left: 20px;
    font-size: 17px;
    transition-duration: 0.4s;
    padding:15px;
    background-color: white;
    width:fit-content;
    color:black;
    border-radius: 100px;

}.seccaldiv p{
    font-size:18px;
    color:rgb(255, 255, 255);
    border-radius: 100px;
    width:fit-content;
    margin-left: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
    transition-duration: 0.4s;

}.seccaldiv h2{
    font-size: 30px;
    font-weight: 400;
    margin-left: 20px;
    transition-duration: 0.4s;

}.renderdiv{
    justify-content: center;

}#progress{
    
    height:10px;
    background-color: rgb(57, 46, 46);
    margin-bottom:30px;
    border-radius: 30px;
}.evcal2{
    display:none;
}.evcal2 p{
    width:80%;
      background-color: rgba(255, 255, 255, 0.862);height:50px;border-radius: 20px;
      margin-top: 20px;display:flex;align-items: center;
      color:black;padding-inline: 5%;font-weight: 400;
}#container2img{
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
}#qrcode{
    align-self: center;
    margin-top: 20px;
    padding:10px;
    background-color: rgba(0, 0, 0, 0);
    height:fit-content;
    border-radius: 20px;
}
